*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: sans-serif;
}


main{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap:20px;
    margin-top:32px;
}

main >div{
    width: 100%;
}

.bill-input{
    color:#6f3cff;
    font-size: 20px;
}

p{
    margin-bottom: 8px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
    align-items: center;
    /* overflow: hidden; */
}
.input-container input{
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    padding:9px 4px;
    font-size: inherit;
    color: inherit;
    border-radius: 4px;
    /* background-color: transparent; */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.tip-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
    margin-bottom: 12px;
}

.tip{
    background-color: #6f3cff;
    border-radius: 4px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.grey-input{
    border: none;
    outline: none;
    background-color: rgb(225, 225, 225);
    font-size: 16px;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
}

.generate{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 7px;

    background-color: #9c60ff;
    color: white;
    cursor: pointer;
    margin-top:18px;
}

/* Right Side */
.bill-output{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #34568b;
    color: white;
    border-radius: 10px;
    padding: 36px;
}

.bill-output p span {
    font-size: 25px;
    font-weight: 700px;
}

.bill-output p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reset-btn{
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    cursor: not-allowed;
    font-family: inherit;
}